- people.includes(:projects, role_offers: :role).each do |person|
  = render 'people/summary', person: person

- unless people.empty?
  .more= link_to 'More…', people_path(scroll_cont: people.last.scroll_continuation, heading_level: heading_level)
