.edit-settings
  .more= link_to "View Profile", person
  = render "shared/autosave_status"

  - heading "Edit Profile" do

    = render 'shared/tabs', controller: 'people', tab_group: 'profile', tabs: %w(info role-offers projects)
