.banner{style: "color: #{featured_color_for(person)}"}
  - heading link_to(person.name, person), class: "name"
  
  - if person.url?
    .url= link_to person.url.gsub(%r_^https?://_, ''), person.url

- with_next_heading_level do

  .meta
    - if person.projects.any?
      = render 'projects/thumb_list', projects: person.projects, project_list_title: "Participating in"
    
    - if person.role_offers.includes(:role).any?
      .role-offers
        - heading "Interested in" do
          - person.role_offers.each do |offer|
            .role= link_to offer.role.skill_name, offer.role

.divider
