.hint
  %p
    Who worked on this project?
  %p
    Be sure to give credit where credit is due!
  %p
    <b>Admins</b> can edit these same settings you are editing right now. Dev Garden admin access <b>does not</b> affect Github or any other service.

= settings_form_for project, "participants" do |f|
  %ol.editable-list
  
    -# The HTML for the participants UI is dynamically created client side using JSON.
    -# The client code uses the initialParticipants element to initially populate the list,
    -# which prevents us from either:
    -#   (1) havmaking the server try to render the same HTML as the script, or
    -#   (2) forcing an API call every time the page loads.

    -# This element gets wiped out as soon as the page is gone, preventing stale initial data
    -# from wiping out newer, better data.

    #initialParticipants{data: { initial_participants: participants_json.html_safe} }

%form#new-participant(action='#')
  %fieldset
    %ol
      %li
        %input#new-participant-name{type: :text, placeholder: "Name or Github user"}

%form#participant-invitation(action='#')
  %fieldset
    %ol
      %li
        %label(for='invitation-name') Name
        %input#invitation-name{type: :text}
      %li
        %label(for='invitation-name') Email
        %input#invitation-email{type: :text}
  .actions
    %input(type='submit' value='Invite New User')
    = link_to "Cancel", '#', class: 'cancel-invitation'
