.hint
  %p Would you like to invite students to participate in your project?
  %p What would you like help with?

= settings_form_for project, "role-reqs" do |f|
  = f.inputs do
    - RoleCategory.includes(:roles).all.shuffle.each do |category|
      = f.input :requested_role_ids, label: category.name, required: true, as: :check_boxes, collection: labeled_roles_for_category(category)
