= project_form "tags", autosave: true do |f|
  = f.inputs do
    - TagCategory.in_order.each do |category|
      = f.input :tags, label: category.name.pluralize, required: true, as: :check_boxes, collection: category.tags.order('name')
