.projects.infinite-scroll
  %h1 Projects
  = render 'projects/recent', projects: recent_projects(limit: 20)

.people.infinite-scroll
  %h1 People
  = render 'people/recent', people: recent_people(limit: 20)
