.projects.infinite-scroll.summary-group
  %h1 Projects
  .content
    = render 'projects/recent', projects: Project.recent(20)

.people.infinite-scroll.summary-group
  %h1 People
  .content
    = render 'people/recent', people: Person.recent(20)
