- if current_user&.site_admin?
  = link_to "New Event", new_event_path, class: 'big-button edit'

- heading event_query_description do

  .events
    .event-list
      - event_query do |event, dates|
        = render 'events/event', event: event, dates: dates
