- projects.includes(:participants, role_requests: :role, tags: :category).each do |project|
  = render 'projects/summary', project: project

- unless projects.empty?
  .more.infinite-scroll-more
    = link_to 'More…', projects_path(scroll_cont: projects.last.scroll_continuation, heading_level: heading_level)
