
- project_groups.each do |group_title, projects|
  - if projects.any?
    - heading t("people.project_group.#{group_title}") do
      %ul
        - projects.each do |project|
          %li= link_to project.name, project

- if person.projects.visible.empty?
  %p Not currently participating in any projects.

= link_to "New Project", new_project_path, class: "big-button"