= provide :page_description do
  A list of the different roles people can take on in software projects.
  Includes links to people offering to help with those roles and projects seeking them in Macalester’s Dev Garden.

- heading "Roles" do

  - roles_by_category.each do |category|
    - heading category.name do
      %ul
        - category.roles.each do |role|
          %li= link_to role.skill_name, role
