@import '_shared'

.clear
  clear: both

html
  color-scheme: light dark

  --background-color: #fefefe
  --dark-color: #282561
  --highlight-color: #3b82d6
  --heading-color: #413f67
  --hairline-color: #a4a9ad
  --success-color: #49873b
  --error-color: #bd2432
  --warning-color: #f2b029
  --danger-color: var(--error-color)
  --fade-text-color: #999
  --overlay-color: white

  --nav-bar-bg-color: var(--dark-color)
  --nav-bar-text-color: color-mix(in display-p3, var(--background-color) 90%, transparent)
  --nav-bar-text-hot-color: var(--background-color)

  --input-bg-color: #fbfbf9
  --input-bg-focus-color: white

  @media (prefers-color-scheme: dark)
    --background-color: #120445
    --dark-color: #d0d0d0
    --highlight-color: #5fa6fd
    --heading-color: #8e8dba
    --hairline-color: black
    --success-color: #49873b
    --error-color: #bd2432
    --warning-color: #f2b029
    --danger-color: var(--error-color)
    --fade-text-color: #777
    --overlay-color: #282561

    --nav-bar-bg-color: #000
    --nav-bar-text-color: #bbb
    --nav-bar-text-hot-color: #fff

    --input-bg-color: var(--background-color)
    --input-bg-focus-color: black

html, body
  background: var(--background-color)

body
  margin: 0
  padding: 0
  padding-bottom: 1.2em
  color: var(--dark-color)
  @include body-font
  font-size: 1.1em
  line-height: 120%

main
  margin: 0 auto
  padding: 0 1.2em
  max-width: 42em
  margin-bottom: 2.4em

h1, h2, h3, h4
  padding: 0
  margin: 0.9em 0 0.6em 0
  @include title-font
h1
  font-size: 2.4em
h2
  font-size: 1.5em
h3
  font-size: 1.2em
@include if-below-width(32em)
  h1
    font-size: 1.8em
  h2
    font-size: 1.2em
  h3
    font-size: 1em
.meta
  h2, h3, h4
    @include meta-heading
    margin-bottom: 0.6em

main
  &>h1, &>h2, &>h3, &>h4
    color: var(--heading-color)

p
  margin: 0.6em 0

a
  &:link, &:visited
    color: var(--highlight-color)
  &:hover
    text-decoration: underline
  text-decoration: none

b
  font-weight: bold

ul, ol
  list-style: none
.description, .pages-controller main
  ul, ol
    margin-left: 1.8em
  ul
    list-style: disc
  ol
    list-style: decimal
  li
    margin: 0.6em 0

.description
  > img, > * > img
    display: block
    max-height: 16.8em
    margin: 1.2em auto
    @include if-above-width(32em)
      float: right
      clear: right
      max-width: 37.5%
      margin: 0 0 0.6em 0.6em

hr
  border: none
  height: 1px
  width: 100%
  margin: 1.2em 0
  @include hairline-border(top, var(--hairline-color))

img.none
  border: none
  outline: none
  background: #f4f4f4

@media (prefers-color-scheme: dark)
  .dark-mode-logo
    // We can nix the #{...} if/when we upgrade to a newer sass
    filter: #{"invert() grayscale() brightness(110%)"}

.more
  margin-top: 0.6em
  text-align: right
  @include meta-more
  @include if-below-width(36em)
    a:after
      margin-right: 0 !important

.infinite-scroll-more
  clear: both
  margin: 1.2em 2.4em 0 0

.loading
  @include pulsing
  @include meta-more-font

.features
  margin: 0 auto
  max-width: 90%
  .feature
    margin: 1.2em 0
    padding-bottom: 1.2em
    @include hairline-border(bottom, var(--hairline-color))
    @include if-above-width(36em)
      &:last-child
        border: none

.about
  .line
    display: inline
@include if-above-width(36em)
  .about
    text-align: center
    .line
      display: block
  .features
    display: table

.hero
  $hero-max-width: 60em
  $hero-margin: 1.2em
  $hero-margin-wide: $hero-margin * 2

  display: block
  margin: $hero-margin auto
  max-width: $hero-max-width
  img
    margin: 0 $hero-margin
    display: block
  @include if-above-width(36em)
    margin: $hero-margin-wide auto
    img
      margin: 0 $hero-margin-wide
  h1
    text-align: center

.flashes
  text-align: center
  padding: 0 1.2em 1.2em 1.2em
  white-space: pre-line
  .flash
    display: table
    @include meta-important-font
    margin: 0.6em auto
    border-radius: 1ex
    color: white
    padding: 1em 1.6em
    background: #858997
    .message, .icon
      display: table-cell
    .message
      text-align: center
      max-width: 20em
      vertical-align: middle
    .icon
      @include body-font
      font:
        size: 200%
        weight: 900
      line-height: 100%
      opacity: 0.6
      padding-right: 0.8ex
      vertical-align: top
    &.success
      background: var(--success-color)
      .icon:before
        content: '✓'
    &.warning, &.notice
      background: var(--warning-color)
      .icon:before
        content: '!'
    &.error
      background: var(--error-color)
      .icon:before
        content: '!'

.site
  @include meta-font
  font-weight: 400
  margin-top: 0.2em
  .inline-icon
    display: none

.urls .url
  @include meta-font
  white-space: nowrap

.inline-icon
  svg
    width: 1em
    height: 1em
    vertical-align: middle
    padding: 0 1px 1px 0
    position: relative
    top: -1px
    path
      fill: var(--dark-color)

.tags
  overflow: hidden
  white-space: nowrap
  margin: 0.8em 0
  @include meta-tiny-font
  .tag-category
    display: inline
  .tag-category-family
    color: light-dark(#444, #999)
    .tag:last-child
      @include hairline-border(right, black)
      padding-right: 0.8em
      margin-right: 0.8em
    &:last-child .tag:last-child
      border: none
  .tag
    letter-spacing: 0.5px
    padding: 0.2ex 0
    margin-right: 0.8em
    float: left
  .tag-category-platform
    color: light-dark(hsl(110, 40%, 30%), hsl(110, 20%, 60%))
  .tag-category-tool
    color: light-dark(hsl(42, 40%, 30%), hsl(42, 30%, 60%))
  .tag-category-language
    color: light-dark(hsl(260, 40%, 40%), hsl(260, 40%, 70%))

.infinite-scroll .loading
  height: 20em
  padding: 1em
  color: #888

.big-button
  @include button
  &.edit
    display: block
    background: var(--highlight-color)
    text-align: center
    margin-top: 2.4em
    float: right
    margin: 0 0 0.6em 1.2em
    font-size: 100%
    @include if-below-width(36em)
      font-size: 90%
    @include if-below-width(32em)
      font-size: 80%
    @include if-below-width(28em)
      font-size: 70%

.page-login main
  text-align: center
  margin-top: 2.4em

.edit-settings
  .more
    float: right
    font-size: 100%
    @include if-below-width(24em)
      float: left
      margin: 1.2em 0 0.6em

  h1
    clear: left

  .error-headline
    @include meta-important-font
    color: var(--error-color)
    font-size: 120%

input.tt-hint
  color: var(--fade-text-color)
.tt-menu .tt-dataset
  @include hairline-border(all, var(--hairline-color))
  border-radius: 0.3em
  overflow: hidden
  box-shadow: 0 0.5ex 0.5ex rgba(0, 0, 0, 0.1667)
  position: relative
  top: -0.6em
  background: white
  .search-result
    padding: 0.3em 0.6em
    cursor: pointer
    min-width: 12em
    &.tt-cursor, &:hover
      background: var(--highlight-color)
      color: white
    .icon
      width: 1.2em
      height: 1.2em
      vertical-align: middle
      float: right

.sortable-ghost *
  visibility: hidden

.hint
  @include meta-font
  font-size: 96%
  b
    font-weight: normal
