@import '_shared'

.event
  padding: 0.2em 0
  margin-bottom: 1.2em

  .title, .date
    a, a:link, a:visited
      color: $dark-color
      &:hover
        color: $highlight-color

  .title
    margin-bottom: 0.6em
    line-height: 1.15em

@include if-above-width(36em)
  .events
    display: table
    .event
      display: table-row
      .title, .dates, .location
        display: table-cell
        padding: 0.6em 0
      .dates, .location
        padding-left: 1.2em

.event, .events-controller
  .subscribe
    @include meta-more-font
    text-transform: uppercase
    font-size: 80%
    a
      padding-left: 0.6em
      &:after
        display: inline-block
        opacity: 0.33
        vertical-align: middle
        content: '|'
        color: black
        padding-left: 0.6em
      &:last-child:after
        display: none

  .dates
    @include meta-font
    font-size: 94%
    .daterange
      white-space: nowrap
    .weekday
      font-weight: 500
      margin-right: 0.2ex
    .ampm
      font-size: 0.7em
      font-weight: 400
      margin-left: 0.2ex
    .date .separator
      &:before, &:after
        content: ' '
  .location
    @include meta-important-font
    font-size: 94%
    white-space: nowrap
    .detail
      font-weight: 300
      white-space: normal

.events-controller
  &.index-action
    .events
      margin: 1.2em auto

  &.show-action
    main
      margin: 0 auto
    .location
      margin-bottom: 0.6em
    .meta
      @include meta-float-right
    .dates
      .group
        margin-bottom: 0.6em
        &:last-child
          margin-bottom: 0
      &.multiple
        .weekday, .monthday
          display: inline-block
        .weekday
          min-width: 2.4em
        .monthday
          min-width: 3.6em
