@import "_shared"

.people-controller.show-action
  .banner
    margin: 2.4em 0 1.2em 0

  h1
    margin: 0em

  .bio
    @include meta-font

  .urls
    margin: 0.6em 0

  .meta, .banner
    a
      color: inherit

  .meta
    .projects, .role-offers
      float: left
      margin-left: 1.2em
      padding-left: 1.2em
      border-left: 0.5px solid $dark-color
      &:first-child
        border: none
        margin-left: 0
        padding-left: 0

    @include project-thumb-list
