@import "_util"

.people-controller.show-action
  .banner
    margin: 2.4em 0 1.2em 0

  h1
    margin: 0em

  .tagline
    @include meta-font

  .site
    @include title-font

  .meta
    a
      color: inherit

    .projects, .role-offers
      float: left
      margin-left: 1.2em
      padding-left: 1.2em
      border-left: 0.5px solid $devgarden-dark
      &:first-child
        border: none
        margin-left: 0
        padding-left: 0

    @include project-thumb-list
