@import "_shared"

.projects-controller.show-action main
  .banner
    display: table
    margin: 2.4em 0 1.2em 0
    >.icon, >.info
      vertical-align: middle
      display: table-cell

  .icon
    padding-right: 1.2em
    @include feature-icon

  h1
    margin: 0em

  .meta, .banner
    a
      color: inherit

  .tagline
    @include meta-font

  .meta
    @include meta-float-right
    >*:first-child
      h2, h3, h4
        margin-top: 0
