@import "_shared"

.projects-controller.show-action main
  .banner
    display: table
    margin: 2.4em 0 1.2em 0
    width: 100%
    >.icon, >.info
      vertical-align: middle
      display: table-cell

  .icon
    padding-right: 1.2em
    @include feature-icon

  .info
    width: 99%

  h1
    margin: 0em

  .meta, .banner
    a
      color: inherit

  .tagline
    @include meta-font

  .meta
    @include meta-float-right
    >*:first-child
      h2, h3, h4
        margin-top: 0

.projects-controller
  .more
    float: right
  #tags-tab
    @include choices-in-wide-columns
    .choice label
      font:
        size: 80%
        weight: 400
  #role-reqs-tab
    @include choices-in-tall-columns

  .dropzone
    .dz-image
      border-radius: 0
    .dz-details
      padding-top: 64px
    .dz-filename
      display: none
    img
      width: 100%
      height: 100%
      object-fit: contain
