@import "_shared"

.projects-controller.show-action main
  .banner
    margin: 1.2em 0
    @include if-below-width(32em)
      .icon
        float: left
        margin: 0.2em 0.6em 0.6em 0
      h1
        clear: none
        margin-top: -0.2em
      .tagline, .site
        font-size: 80%
        clear: right
      .tags
        clear: left
    @include if-above-width(32em)
      display: table
      width: 100%
      >.icon, >.info
        vertical-align: middle
        display: table-cell
      .icon
        padding-right: 1.2em

  .icon
    @include feature-icon

  .info
    width: 99%

  h1
    margin: 0em

  .meta, .banner
    a
      color: inherit

  .tagline
    @include meta-font

  .meta
    @include meta-float-right
    >*:first-child
      h2, h3, h4
        margin-top: 0

  .repo
    white-space: nowrap
    overflow: hidden

.projects-controller
  .more
    float: right
    @include if-below-width(24em)
      float: left
      margin: 1.2em 0 0.6em

  h1
    clear: left
  
  #tags-tab
    @include choices-in-wide-columns
    .choice label
      font-size: 80%
  
  #role-reqs-tab
    @include choices-in-tall-columns
    @include if-below-width(32em)
      .choice label
        font-size: 80%

  form.dropzone
    margin: 1.2em 0
    @if-above-width(32em)
      margin: 1.2em
