@import "_util"

.projects-controller.show-action
  .banner
    display: table
    margin: 2.4em 0 1.2em 0
    >.icon, >.info
      vertical-align: middle
      display: table-cell

  .icon
    float: left
    margin-right: 1.2em
    img
      width: 128px
      height: 128px
      object-fit: contain

  h1
    margin: 0em

  .tagline
    @include meta-font

  .site
    @include title-font

  .meta
    @include if-above-width(30em)
      float: right
      margin: 0 0 1.2em 1.2em
      padding: 0.15em 0
      padding-left: 1.2em
      border-left: 0.5px solid $devgarden-dark
      max-width: 40%
    h2, h3, h4
      @include meta-heading
    >*:first-child
      h2, h3, h4
        margin-top: 0
    a
      color: inherit
