@mixin if-below-width($width)
  @media all and (max-width: $width)
    @content

@mixin if-above-width($width)
  @media all and (min-width: $width)
    @content

$divider-height: 1.6em
$summary-overflow: 10em
$content-vpad: 1.6em

body
  margin: 0
  padding: 0
  font:
    family: 'freight-text-pro'
    weight: 400
    size: 1.1em

h1,h2,h3,h4,.site
  font:
    family: 'effra'
    weight: 500

a
  text-decoration: none
  &:hover
    text-decoration: underline

.summary-group
  float: left
  &.projects
    width: 60%
    color: rgba(39,37,93,0.1)
  &.people
    overflow: hidden
    width: 40%
    color: rgba(39,37,93,0.32)
    .content
      font-size: 90%
  h1
    position: relative
    font:
      size: 1200%
      weight: 900
    text-transform: uppercase
    margin: 0
    height: 0
    left: 0.88em
    transform: rotate(90deg)
    transform-origin: 0% 0%

.summary
  padding-bottom: $summary-overflow
  margin-bottom: -$summary-overflow
  .icon
    float: left
    margin: 0.5ex 1.5ex 0 0
    img
      width: 48px
      height: 48px
      object-fit: contain
  .heading
    overflow: hidden
  h2
    margin: 0
  a
    color: inherit
  .meta
    opacity: 0.4
    &:before
      display: inline-block
      content: '⤑'
      width: 1.2em
  .role
    padding-left: 1.2em
  > .content
    transform: rotate(0deg)  // To draw on top of big h1
    padding: $content-vpad 1.2em
    padding-left: 4em

  .description
    font:
      family: 'effra'
      weight: 200
  .participants
    clear: left
  .participants, .role-requests
    margin-top: 0.6em
    float: left
    width: 50%
    > .name, > .role
      x-display: inline-block
      &:x-after
        content: '│'
        color: #ccc
      &:last-child:after
        content: none

@include if-above-width(50em)
  .summary-group
    &.projects
      width: 75%
      color: rgba(39,37,93,0.1)
    &.people
      overflow: hidden
      width: 25%
  .summary
    &.project
      width: 50%
      float: left
      clear: left
      &:nth-child(odd)
        .content
          padding-right: 0
      &:nth-child(even)
        float: right
        clear: right
        .content
          padding-left: 1.2em

.hero
  max-height: 16em

.infinite-scroll .loading
  height: 20em
  padding: 1em
  color: #888

.divider
  clear: both
  height: $divider-height
  width: 90%
  margin: 0 5% (-$divider-height) 5%
  opacity: 0.4
  position: relative
  top: $content-vpad - $divider-height/2
