@import "_shared"

.tabs
  >ul
    @include hairline-border(bottom, $dark-color)
  >ul >li
    @include meta-font
    display: inline-block
    white-space: nowrap
    marign: 0
    padding: 0.3em 0.6em
    border:
      top-left-radius: 0.3em
      top-right-radius: 0.3em
    &:hover
      color: $highlight-color
    &.active
      background: $dark-color
      color: white
      border-bottom-color: $dark-color
    a
      color: inherit

    @include if-below-width(42em)
      font-size: 90%

  .tab
    clear: both
